@model Portfolio
@{
    ViewData["Title"] = "Detail";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Portfolio Details</li>
            </ol>
            <h2>Portfolio Details</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            @foreach (Portfolioimage portfolioimage in Model.Portfolioimages)
                            {
                                <div class="swiper-slide">
                                    <img src="~/assets/img/portfolio/@portfolioimage.Image" alt="">
                                </div>


                            }


                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>@Model.Name</h3>
                        <ul>
                          @foreach(Category category in Model.Categories)
                          {
                            <li><strong>Category</strong> :@category.Name </li>
                          }
                            
                           

                            <li><strong>Client</strong>: @Model.Client</li>
                            <li><strong>Project date</strong>: @Model.Date.ToString("dd MMMM yyyy")</li>
                            <li><strong>Project URL</strong>: <a href="#">@Model.Url</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>@Model.Desc</h2>
                        <p>
                            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
